body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.full {
  background: url(../img/background2.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.top-buffer { margin-top:130px; }

.navbar-inner {
    background:transparent;
}

#info, #connect, #disconnect, #play-ctrl button {
	display: none;
}

